@{
    ViewData["Title"] = "Home Page";
}
<center>
<img src="/Images/sandal.jpg" alt="Company Logo" width="300" height="200"  />
</center>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
